@page "/Projects/Create"

@attribute [Authorize]

@inject HttpClient Http
@inject HttpClient httpClient
@inject NavigationManager Navigation



<EditForm Model="Project" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <div class="shadow-sm p-3 mt-3 ml-3 mr-3 mb-3 bg-white rounded-lg mx-auto" style="width:75%">

        <div class="card-body mx-auto" style="width:72%; min-width:55%">

            <h3 class="card-title">Create new project</h3>
            <h6 class="card-subtitle mb-2 text-muted">Fill in the fields to create a new project</h6>

            <div class="form-group">
                <label class="control-label">Name</label>
                <InputText @bind-Value="Project.Name" class="form-control" />
                <ValidationMessage For="@(() => Project.Name)" />
            </div>

            <div class="form-group">
                <label class="control-label">Description</label>
                <InputText @bind-Value="Project.Description" class="form-control" />
                <ValidationMessage For="@(() => Project.Description)" />
            </div>

            <div class="form-group">
                <label for="statusInput">Status</label>
                <InputSelect class="form-control" id="statusInput" @bind-Value="Project.ProjectStatus">

                    @{
                        <option disabled value="Select">Select status</option>
                        <option value="Open">Open</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Testing">Testing</option>
                        <option value="Closed">Closed</option>

                        if (Project.ProjectStatus != "Closed")
                        {
                            Project.ClosedDate = null;
                        }
                    }
                </InputSelect>
            </div>

            <div class="form-group">
                <label for="compSelect">Assign to Company</label>
                <InputSelect class="form-control" id="compSelect" @bind-Value="Project.CompanyId">
                    <option disabled value="Select">Select company</option>

                    @foreach (var Company in Companies)
                    {
                        <option value="@Company.CompanyId">@Company.companyName</option>
                    }



                </InputSelect>

            </div>

            <div class="form-group">
                <label class="control-label">Created on</label>
                <InputDate @bind-Value="Project.DateCreated" class="form-control" />
                <ValidationMessage For="@(() => Project.DateCreated)" />
            </div>

            <br />

            <a class="btn btn-secondary ml-1" href="/Projects">Back</a>

            <button type="submit" class="btn btn-primary">
                Create new project
            </button>

        </div>
    </div>
</EditForm>


@code {
    private Project Project { get; set; } = new Project { DateCreated = DateTime.Today };

    private List<Company> Companies = new List<Company>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Companies = await Http.GetFromJsonAsync<List<Company>>("/api/Companies");


        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception e)
        {
            Console.WriteLine("Companies index page exception caught: " + e);
        }
    }

    private async void HandleValidSubmit()
    {
        try
        {

            var response = await Http.PostAsJsonAsync("/api/Projects", Project);

            response.EnsureSuccessStatusCode();

            var content = await response.Content.ReadAsStringAsync();

            var project = JsonConvert.DeserializeObject<Project>(content);


            Navigation.NavigateTo("/projects");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch (Exception e)
        {
            Console.WriteLine("Project index page exception caught: " + e);
        }

    }
}
